body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.message {
    margin-bottom:1em;
    margin-top:0.5em;
    width: 100%;
}


.message-wrapper {
    margin-bottom:1em;
    margin-top:0.5em;
}


.message-remove {
    cursor: pointer;
}
